.parent {
  font-family: sans-serif;
  text-align: center;
  border-radius: 10px;
  background-color: #F9F8CD;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.childInside {
  background-color: #F5D6CC;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}

.childOutside {
  background-color: #DAEBC7;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}

img {
  width: 100px;
}